body{
    font-family: 'Lato', sans-serif;
}
header,main{
    max-width: 1280px;
    margin:0 auto;
    padding:0 50px;
}
.navbar a{
    font-size: 16px;
    color: #ffffffea;
    font-weight: 500;
}
.navbar a:hover{
    color: rgba(90, 99, 92, 0.707);
}
.carousel h1{
    color: white;
    font-size: 60px;
    font-weight: 800;
}
.carousel p{
    font-size: 17px;
    font-weight: 500;
    padding: 0px 0 29px;
}
.carousel button{
    text-transform:none ;
    font-size: 13px; 
    padding: 0 24px;
    color: white;
    background: #F85559;
    border: none;
}